<!DOCTYPE html>
<html lang="en-GB" dir="ltr" class="no-js" data-ng-app="PersonListApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Person List Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/x-icon" href="images/favicon.ico"> -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
</head>
<body data-ng-cloak>

<!-- 헤더 영역 -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Person List Application</a>
    </div>
  </div>
</nav>
<!--// 헤더 영역 -->

<!-- 메인 리스트 영역 -->
<!-- PersonListController 컨트롤러 연결 -->
<main class="container" data-ng-controller="PersonListController">
  <div class="row">
    <div class="col-md-7">
      <form class="form-inline well well-sm">
        <!-- 검색(Search) -->
        <div class="form-group">
          <label for="search" class="control-label">
            <span class="glyphicon glyphicon-search" aria-label="Search Content"></span>
          </label>
          <input
            type="text"
            class="form-control"
            id="search"
            placeholder="Search ..."
            data-ng-model="search">
        </div>
        <!-- 정렬(Order) -->

      </form>
      <table class="table table-striped table-condensed table-hover">
        <caption class="readable-hidden">Simple Table of Persons</caption>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Gener</th>
          <th scope="col">Detail</th>
        </tr>
        <tr
          data-ng-repeat="person in persons | filter:sensitiveSearch"
          data-ng-class="{
            'table-on': $index === selectedIndex
          }"
          data-ng-click="selectPerson($index, person)">
          <td>{{settingReadingZero($index+1)}}</td>
          <td>{{person.name.first}} {{person.name.last}}</td>
          <td>{{person.email}}</td>
          <td>person.gender</td>
          <td><a
            href="#!"
            title="Detail View of {{person.name.first}} {{person.name.last}}"
            aria-label="Detail View of {{person.name.first}} {{person.name.last}}">view</a></td>
        </tr>
      </table>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Detail View</h3>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Photo</dt>
            <dd>
              <img
                class="img-frame"
                alt=""
                src="https://lh3.googleusercontent.com/-ErwSGXTkBG0/AAAAAAAAAAI/AAAAAAAAAAA/5wMKoYp4NiY/photo.jpg"
                data-ng-src="{{selectedPerson.picture.large}}"
                width="150"
                height="150">
            </dd>
            <dt>Name</dt>
            <!-- title 값을 전달 받아 첫 글자를 대문자로 바꾼 후 반환하는 $scope.capitalize() 메소드 정의 -->
            <dd>
              {{ capitalize(selectedPerson.name.title) }}
              {{selectedPerson.name.first}} {{selectedPerson.name.last}}</dd>
            <dt>User Name</dt>
            <dd>{{selectedPerson.login.username}}</dd>
            <dt>Gender</dt>
            <dd>{{selectedPerson.gender}}</dd>
            <dt>Email</dt>
            <dd>
              <a href="mailto:{{selectedPerson.email}}">{{selectedPerson.email}}</a>
            </dd>
            <dt>Cell</dt>
            <dd>{{selectedPerson.cell}}</dd>
            <dt>Address</dt>
            <!-- $scope.setComma() -->
            <dd>
              {{ setComma(selectedPerson.location.street) }}
              {{ setComma(selectedPerson.location.city) }}
              {{ selectedPerson.location.state }}
            </dd>
            <!-- $scope.setNation() -->
            <dt>Nation</dt>
            <dd>{{ setNation(selectedPerson.nat) }}</dd>
          </dl>
        </div>
        <pre>{{search.$|json}}</pre>
      </div>
    </div>
  </div>
  <!-- <pre>{{ persons | json }}</pre> -->
</main>
<!--// 메인 리스트 영역 -->

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="js/app.bundle.js"></script>
<!-- endinject -->
</body>
</html>